body {
  background-image: url('../royaltyinexile.png');
  background-repeat: repeat;
}

.container {
  text-align: center;
  width: 75%;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: white;
}
th {
  text-align: left;
}

#list {
  margin: 5em;
}
a {
  color: white;
  text-decoration: none;
  line-height: 20%;
}
a:hover {
  color: #00CCA3;
}
p, label {
  color: white;
  line-height: 75%;
  font-family: 'Abel', sans-serif;
  padding-bottom: -2em;
  padding-top: -2em;
}

#list {
  width: 30%;
  padding: .5em;
  border: .2em solid white;
  border-radius: 5%;
}