  <div class="container">
    <div id="forms">
      <form class="buttons" action="/" method="post">
       <!--  <label>username</label>
        <input type="text" name="username" ><br>
        <label>email</label>
        <input type="text" name="email" ><br> -->
        what's on your mind? 
        <input type="text" placeholder="something witty" name="notetext" ><br>
        <input type="submit" value="now post it!">
      </form>
    </div>
  </div>


